.alert-box {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 15px;
    width: 350px;
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;  /* 수직으로 중앙 정렬 */
    justify-content: space-between;  /* 아이콘, 텍스트, 버튼을 좌우로 분배 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.alert-box p {
    margin: 0 8px;
    line-height: 1.5;   /* 텍스트의 줄 높이를 맞춰서 세로 정렬 */
}

.alert-box button {
    background-color: #721c24;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.alert-box button:hover {
    background-color: #f44336;
}

.bell-icon {
    width: 20px;  /* 아이콘 크기 설정 */
    height: 20px;  /* 아이콘 크기 설정 */
    object-fit: cover;
    margin-right: 10px;  /* 아이콘과 텍스트 사이에 여백을 추가 */
}

.sticky-table thead th {
    position: sticky;
    top: 0;
    background-color: #CFE2FF;
    z-index: 1;
}


/* 첫 번째 줄 th - 상단 고정 */
.sticky-th-top-0 {
    position: sticky;
    top: 0;
    background-color: #CFE2FF;
    z-index: 2;
}

/* 두 번째 줄 th - 첫 번째 줄 높이만큼 밀어냄 */
.sticky-th-top-60 {
    position: sticky;
    top: 40px; /* 첫 번째 줄 높이만큼 */
    background-color: #CFE2FF;
    z-index: 2;
}









